
.CategoryButton{
    font-size: 1rem;
    padding: 1rem 4rem;
    border: none;
    background: #e31837;
    color: #fff;
    transition: 0.2 ease-out;
    &:hover {
      background: #7d4e2d;
      transition: 0.2s ease-out;
      cursor: pointer;
      color: #000;
    }
}
  
button{
  
  margin-top: 1rem;
  margin-left: 7rem;
  background:darkcyan;
  padding:20px 25px;
  border:none;
  font-size:22px;
  border-radius:6px;
  cursor:pointer;
  color:white;
  font-weight:bold;
  transition:0.3s ease all;
  box-shadow:1px 2px 3px rgba(0,0,0,0.3);
  &:focus {
    outline:none;
  }
  &.clicked {
    background:#383737;
  }
}


.ProductsHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}


.ProductsContainer{
  width:100vw;
  min-height: 100vh;
  padding: 5rem calc((100vw - 1300px) / 2);
  background: #150f0f;
  color: #fff;
  

}
.ProductWrapper{
  display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0 auto;
}

.productCard{
margin: 0 2rem;
line-height: 2;
width: 300px;
}


.ProductImg{
height: 300px;
min-width: 300px;
max-width: 100%;
box-shadow: 8px 8px #fdc500;
}

.ProductsHeading{
font-size: clamp(2rem, 2.5vw, 3rem);
text-align: center;
margin-left: 5rem;
margin-right: 5rem;
margin-bottom:5rem;
margin-top: 5rem ;
}

.ProductTitle{
font-weight: 400;
font-size: 1.5rem;
}

.ProductInfo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
text-align: center;
}

.ProductDesc{
margin-bottom: 1rem;
}

.ProductPrice{
margin-bottom: 1rem;
font-size: 2rem;
}


.ProductButton{
font-size: 1rem;
padding: 1rem 4rem;
border: none;
background: #e31837;
color: #fff;
transition: 0.2 ease-out;
&:hover {
  background: #7d4e2d;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
}

}
