  
.Order {
  
    margin-top: 1rem;
    margin-left: 7rem;
    background:darkorchid;
    padding:20px 25px;
    border:none;
    font-size:22px;
    border-radius:6px;
    cursor:pointer;
    color:white;
    font-weight:bold;
    transition:0.3s ease all;
    box-shadow:1px 2px 3px rgba(0,0,0,0.3);
    &:focus {
      outline:none;
    }
    &.clicked {
      background:#383737;
    }
  }